---
---

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap");
@import "articles";
@import "post";


:root {
  /* Themes */
  --text-dm-site-title: #ffa4a4;
  --text-dm-primary: #ffa4a4;
  --text-dm-secondary: #d4adad;
  --dm-contrast: #fbff45;
  --bg-dm-primary: #130202;
  --bg-dm-secondary: #1c0b0b;
  /* Other vars */
  --border-radius: 2rem;
}

* {
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  -webkit-tap-highlight-color: transparent;
}

* img {
  max-width: 100%;
}

html,
body {
  color: var(--text-dm-secondary);
  background-color: var(--bg-dm-primary);
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
}

main {
  margin: 0 auto;
  max-width: 650px;
  padding: 3rem 0;
}

.feed * {
  font-weight: 900;
}

header {
  margin: 0 auto;
  max-width: 650px;
  padding: 2rem 0 4rem 0;
}

header .site-title {
  font-size: 5rem;
  font-weight: bolder;
  line-height: 110%;
  color: var(--text-dm-site-title);
}

.page-title {
  font-size: 3rem;
  padding: 0 0 2rem 0;
}

#bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
/* #bio-avatar-wrapper {} */
#bio-avatar {
  width: 180px;
  border-radius: 50%;
}
/* #bio-text-and-social-links {} */
#bio-text {
  line-height: 140%;
}

#bio-text a {
  color: var(--dm-contrast);
  border-bottom: 3px solid var(--dm-contrast);
}

#social-links {
  margin: 2rem 0 3rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

#social-links a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  color: var(--bg-dm-secondary);
  background-color: var(--dm-contrast);
}

#social-links a img {
  width: 20px;
  border-radius: 50%;
}


/* footer */
footer {
  background: var(--dm-contrast);
  margin: 10rem 0 -3rem 0;
  padding: 2rem 2.5rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-size: 1.2rem;
  color: var(--bg-dm-secondary);
}

@media screen and (max-width: 750px) {
  main {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  a.site-title {
    font-size: 2.8rem !important;
  }
  .site-title.article-page {
    font-size: 1.6rem !important;
  }
  footer {
    font-size: 0.8rem !important;
  }
}